{% comment %}
  Collection Banner section
{% endcomment %}

<section class="collection-banner">
  <div class="collection-banner__container">
    <h1 class="collection-banner__title">{{ collection.title | escape }}</h1>
    
    {%- if collection.description != blank -%}
      <div class="collection-banner__description">
        {{ collection.description }}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Collection Banner",
  "settings": []
}
{% endschema %}
